.main {
  background-color: black;
  --tw-bg-opacity: 1;
  background-color: hsl(223 30% 9% / var(--tw-bg-opacity));
}

.title {
  padding-top: 2rem;
  margin: 0 2rem 1.5rem 2rem;
  color: wheat;
}

.link__card {
  all: unset;
}

.grid__genres__cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
