.navbar {
  background-color: black;
  color: whitesmoke;
  height: 50px;
  padding: 0.5rem;
  display: flex;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.58);
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li h3 {
  margin-right: 20px;
}

.navbar ul li {
  margin: 0 15px;
}

.link {
  all: unset;
}

.link:hover {
  cursor: pointer;
  color: yellowgreen;
}

@media screen and (max-width: 450px) {
  .navbar {
    height: 100px;
    align-items: center;
  }
  .navbar ul {
    flex-wrap: wrap;
  }

  .navbar ul li {
    margin: 0 10px;
  }
}
